span::after{
  content:'- Remeber this';
}
h4::before{
  content:"Note:";
}
.fl::first-line{
  background-color:yellow;
  color:red;
}
.fle::first-letter{
  font-size:100px;
  color:navy;
}
::marker{
  color:red;
}
::selection{
  color:yellow;
  background-color:green;
}
