#box1{
  width:300px;
  height:100px;
  border:2px solid cyan;
}

#box2{
  width:300px;
  height:100px;
  border:2px solid cyan;
  padding:20px;
}
#box3{
  width:300px;
  height:100px;
  border:2px solid cyan;
}

#box4{
  width:300px;
  height:100px;
  border:2px solid cyan;
  padding:20px;
  box-sizing:border-box;
}

#box5{
  width:300px;
  height:100px;
  border:2px solid cyan;
  border-radius:10px;
  text-align:center;
  padding:40px;
  box-sizing:border-box;
}
#box6{
  width:300px;
  height:100px;
  border:2px solid cyan;
  text-align:center;
  padding-top:40px;
  box-sizing:border-box;
  background-image:url('assets/flower.jpg');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:right;
}
dl dt{
  border:none !important;
}
#box7{
  width:100px;
  height:100px;
  background-color:cyan;
  transition:width 2s;
}
#box7:hover{
  width:300px;
}
