#box1{
  width:300px;
  height:100px;
  border:2px solid cyan;
}

#box2{
  width:300px;
  height:100px;
  border:2px solid cyan;
  padding:20px;
}
#box3{
  width:300px;
  height:100px;
  border:2px solid cyan;
}

#box4{
  width:300px;
  height:100px;
  border:2px solid cyan;
  padding:20px;
  box-sizing:border-box;
}

#box5{
  width:300px;
  height:100px;
  border:2px solid cyan;
  border-radius:10px;
  text-align:center;
  padding:40px;
  box-sizing:border-box;
}
#box6{
  width:300px;
  height:100px;
  border:2px solid cyan;
  text-align:center;
  padding-top:40px;
  box-sizing:border-box;
  background-image:url('assets/flower.jpg');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:right;
}
dl dt{
  border:none !important;
}
#box7,#box8, #box9{
  width:100px;
  height:100px;
  background-color:cyan;
  transition:width 2s, height 4s;
}
#box7:hover{
  width:300px;
}
#box8:hover{
  height:300px;
}
#box9:hover{
  width:300px;
  height:300px;
}
#box10, #box11, #box12, #box13,#box14,#box15{
  text-align:center;
  width:100px;
  height:100px;
  background-color:cyan;
  color:blue;
  font-weight:bold;
  padding-top:35px;
  box-sizing:border-box;
  transition:width 2s;
}
#box10{
  transition-timing-function: ease;
}
#box10:hover{
  width:300px;
}
#box11{
  transition-timing-function: linear;
}
#box11:hover{
  width:300px;
}
#box12{
  transition-timing-function: ease-in;
}
#box12:hover{
  width:300px;
}
#box13{
  transition-timing-function: ease-out;
}
#box13:hover{
  width:300px;
}
#box14{
  transition-timing-function: ease-in-out;
}
#box14:hover{
  width:300px;
}
#box15{
  transition-delay:1s;
}
#box15:hover{
  width:300px;
}
#box16{
  width:150px;
  height:100px;
  background-color:cyan;
  color:blue;
  padding-top:45px;
  box-sizing:border-box;
  font-weight:bold;
  font-size:16px;
  transition:width 2s, height 2s, transform 2s;
}
#box16:hover{
  width:300px;
  height:200px;
  transform:rotate(360deg);
  padding-top:80px;
  text-align:center;
}
