body{
  background-color:SlateBlue;
  color:white;
  background-image:url("assets/css.png");
  background-size:100px;
  background-repeat:no-repeat;
  background-position:right top;
  background-attachment:fixed;
}
h1, h2, h3{
  font-variant:small-caps;
}

h1{
  text-align:center;
  font-family: "Times New Roman", Times, serif;
}
h2{
  margin-bottom:0px;
  padding:0px;
  color:tomato;
}
ul, li{
  margin:5px;
}
h3{
  margin-top:5px;
  margin-bottom:5px;
  text-decoration:underline;
}
.ke1, .ke2, .ke3{
  width:150px;
  height:100px;
  border:1px solid white;
  background-color:green;
  text-align:center;
  padding-top:70px;
}
.ke1{
  animation-name:example;
  animation-duration:4s;
  animation-delay:2s;
}
@keyframes example{
  from {background-color:green;}
  to {background-color:red;}
}
.ke2{
  animation-name:example1;
  animation-delay:3s;
  animation-duration:5s;
}
@keyframes example1{
  0% {background-color:green;}
  25% {background-color:blue;}
  50% {background-color:yellow;}
  75% {background-color:violet;}
  100% {background-color:orange;}
}
.ke3{
  animation-name:example2;
  animation:delay:2s;
  animation-duration:4s;
  position:relative;
}
@keyframes example2{
  0% {background-color:green;}
  25% {background-color:gray; top:200px; left:0px;}
  50% {background-color:cyan; left:200px; top:200px;}
  75% {background-color:pink; left:200px; top:0px;}
  100% {background-color:brown;}
}
