body{
  background-color:SlateBlue;
  color:white;
  background-image:url("assets/css.png");
  background-size:100px;
  background-repeat:no-repeat;
  background-position:right top;
  background-attachment:fixed;
}
h1, h2, h3{
  font-variant:small-caps;
}

h1{
  text-align:center;
  font-family: "Times New Roman", Times, serif;
}
h2{
  margin-bottom:0px;
  padding:0px;
  color:tomato;
}
ul, li{
  margin:5px;
}
h3{
  margin-top:5px;
  margin-bottom:5px;
  text-decoration:underline;
}
.button{
  border:1px solid blue;
  background-color:LightGreen;
  padding:15px;
  border-radius:5px;
  text-decoration:none;
  color:white;
}
 .button1{background-color:red;}
.button2{background-color:blue;}
.button3{background-color:orange;}
.button4{background-color:gray;}
.button5{background-color:black;}

.button11{font-size:10px; background-color:red;}
.button22{font-size:12px; background-color:blue;}
.button33{font-size:16px; background-color:orange;}
.button44{font-size:20px; background-color:gray;}
.button55{font-size:24px; background-color:black;}

.button-1{border-radius:2px; background-color:red;}
.button-2{border-radius:4px; background-color:blue;}
.button-3{border-radius:12px; background-color:orange;}
.button-4{border-radius:24px; background-color:gray;}
.button-5{border-radius:50%; background-color:black;}

.button_1{border:2px solid red;}
.button_2{border:2px solid blue ;}
.button_3{border:2px solid orange;}
.button_4{border:2px solid gray;}
.button_5{border:2px solid black;}
.button_1, .button_2, .button_3, .button_4, .button_5{
  color:green;
  background-color:white;
}
.button7{
  border:1px solid blue;
  background-color:LightGreen;
  padding:15px;
  border-radius:5px;
  text-decoration:none;
  color:white;
}
.button01:hover{
  background-color:white; border:4px solid red; color:red; transition-duration:2s;
}
.button02:hover{
  background-color:white; border:4px solid blue; color:blue; transition-duration:2s;
}
.button03:hover{
  background-color:white; border:4px solid orange; color:orange; transition-duration:2s;
}
.button04:hover{
  background-color:white; border:4px solid gray; color:gray; transition-duration:2s;
}
.button05:hover{
  background-color:white; border:4px solid black; color:black; transition-duration:2s;
}

.shaw{
  padding:15px;
  background-color:gray;
  color:white;
  box-shadow:0px 8px 16px 0px rgb(0, 0, 0, 0.2), 0px 6px 20px 0px rgb(0, 0, 0, 0.19);
}
.shaw1:hover{
  background-color:LightGray;
  color:black;
  box-shadow:0px 16px 20px 0px rgb(0, 0, 0, 0.8), 0px 17px 50px 0px rgb(0, 0, 0, 0.19);
}
.dis{
  background-color:LightGreen;
    padding:15px;
    color:white;
    opacity:0.6;
    cursor:not-allowed;
}
