body{
  background-color:SlateBlue;
  color:white;
  background-image:url("assets/css.png");
  background-size:100px;
  background-repeat:no-repeat;
  background-position:right top;
  background-attachment:fixed;
}
h1, h2, h3{
  font-variant:small-caps;
}

h1{
  text-align:center;
  font-family: "Times New Roman", Times, serif;
}
h2{
  margin-bottom:0px;
  padding:0px;
  color:tomato;
}
ul, li{
  margin:5px;
}
h3{
  margin-top:5px;
  margin-bottom:5px;
  text-decoration:underline;
}
.flex-item{
  background-color:blue;
  color:white;
  padding:20px;
  margin:10px;
}
.flex-container{
  display:flex;
  background-color:white;
}
.flex-container_a{
  display:flex;
  background-color:white;
  width:500px;
  height:200px;
  flex-direction:row;
}
.flex-item1{
  background-color:blue;
  padding:15px;
  margin:10px;
  height:20px;
}
.flex-container_b{
  display:flex;
  background-color:white;
  width:500px;
  height:200px;
  flex-direction:row-reverse;
}
.flex-item2{
  background-color:blue;
  padding:20px;
  margin:10px;
  height:20px;
}
.flex-container_c{
  display:flex;
  background-color:white;
  width:200px;
  height:500px;
  flex-direction:column;
}
.flex-item3{
  background-color:blue;
  padding:20px;
  margin:10px;
  width:20px;
}
.flex-container_d{
  display:flex;
  background-color:white;
  width:200px;
  height:500px;
  flex-direction:column-reverse;
}
.flex-item4{
  background-color:blue;
  padding:20px;
  margin:10px;
  width:20px;
}
.flex-container_e{
  display:flex;
  background-color:white;
  flex-wrap:wrap;
}
.flex-item5{
  background-color:blue;
  padding:20px;
  margin:10px;
  height:20px;
}
.flex-container_f{
  display:flex;
  background-color:white;
  flex-wrap:nowrap;
}
.flex-item6{
  background-color:blue;
  padding:15px;
  margin:10px;
  height:20px;
}
.flex-container_g{
  display:flex;
  background-color:white;
  flex-wrap:wrap-reverse;
}
.flex-item7{
  background-color:blue;
  padding:15px;
  margin:10px;
  height:20px;
}
.flex-container_h{
  display:flex;
  background-color:white;
  flex-flow:row wrap;
}
.flex-item8{
  background-color:blue;
  padding:15px;
  margin:10px;
  height:20px;
}
.flex-container_j{
  display:flex;
  background-color:white;
  justify-content:center;
}
.flex-item9{
  background-color:blue;
  padding:15px;
  margin:10px;
  height:20px;
}
.flex-container_j1{
  display:flex;
  background-color:white;
  justify-content:flex-start;
}
.flex-item10{
  background-color:blue;
  padding:15px;
  margin:10px;
  height:20px;
}
.flex-container_j2{
  display:flex;
  background-color:white;
  justify-content:flex-end;
}
.flex-item11{
  background-color:blue;
  padding:15px;
  margin:10px;
  height:20px;
}
.flex-container_j3{
  display:flex;
  background-color:white;
  justify-content:space-around;
}
.flex-item12{
  background-color:blue;
  padding:15px;
  margin:10px;
  height:20px;
}
