body{
  background-color:SlateBlue;
  color:white;
  background-image:url("assets/css.png");
  background-size:100px;
  background-repeat:no-repeat;
  background-position:right top;
  background-attachment:fixed;
}
h1, h2, h3{
  font-variant:small-caps;
}

h1{
  text-align:center;
  font-family: "Times New Roman", Times, serif;
}
h2{
  margin-bottom:0px;
  padding:0px;
  color:tomato;
}
ul, li{
  margin:5px;
}
h3{
  margin-top:5px;
  margin-bottom:5px;
  text-decoration:underline;
}
.flex-item{
  background-color:blue;
  color:white;
  padding:20px;
  margin:10px;
}
.flex-container{
  display:flex;
  background-color:white;
}
.flex-container_a{
  display:flex;
  background-color:white;
  width:500px;
  height:200px;
  flex-direction:row;
}
.flex-item1{
  background-color:blue;
  padding:15px;
  margin:10px;
  height:20px;
}
.flex-container_b{
  display:flex;
  background-color:white;
  width:500px;
  height:200px;
  flex-direction:row-reverse;
}
.flex-item2{
  background-color:blue;
  padding:20px;
  margin:10px;
  height:20px;
}
.flex-container_c{
  display:flex;
  background-color:white;
  width:200px;
  height:500px;
  flex-direction:column;
}
.flex-item3{
  background-color:blue;
  padding:20px;
  margin:10px;
  width:20px;
}
.flex-container_d{
  display:flex;
  background-color:white;
  width:200px;
  height:500px;
  flex-direction:column-reverse;
}
.flex-item4{
  background-color:blue;
  padding:20px;
  margin:10px;
  width:20px;
}
.flex-container_e{
  display:flex;
  background-color:white;
  flex-wrap:wrap;
}
.flex-item5{
  background-color:blue;
  padding:20px;
  margin:10px;
}
.flex-container_f{
  display:flex;
  background-color:white;
  flex-wrap:nowrap;
}
.flex-item6{
  background-color:blue;
  padding:15px;
  margin:10px;
}
.flex-container_g{
  display:flex;
  background-color:white;
  flex-wrap:wrap-reverse;
}
.flex-item7{
  background-color:blue;
  padding:15px;
  margin:10px;
}
.flex-container_h{
  display:flex;
  background-color:white;
  flex-flow:row wrap;
}
.flex-item8{
  background-color:blue;
  padding:15px;
  margin:10px;
}
.flex-container_j{
  display:flex;
  background-color:white;
  justify-content:center;
}
.flex-item9{
  background-color:blue;
  padding:15px;
  margin:10px;
}
.flex-container_j1{
  display:flex;
  background-color:white;
  justify-content:flex-start;
}
.flex-item10{
  background-color:blue;
  padding:15px;
  margin:10px;
}
.flex-container_j2{
  display:flex;
  background-color:white;
  justify-content:flex-end;
}
.flex-item11{
  background-color:blue;
  padding:15px;
  margin:10px;
}
.flex-container_j3{
  display:flex;
  background-color:white;
  justify-content:space-around;
}
.flex-item12{
  background-color:blue;
  padding:15px;
  margin:10px;
}
.flex-container_j4{
  display:flex;
  background-color:white;
  justify-content:space-between;
}
.flex-item13{
  background-color:blue;
  padding:15px;
  margin:10px;
}
.flex-container_j5{
  display:flex;
  background-color:white;
  justify-content:space-evenly;
}
.flex-item14{
  background-color:blue;
  padding:15px;
  margin:10px;
}

.flex-container_A{
  display:flex;
  background-color:white;
  align-items:center;
  height:200px;
}
.flex-item15{
  background-color:blue;
  padding:15px;
  margin:10px;
}
.flex-container_A1{
  display:flex;
  background-color:white;
  align-items:flex-start;
  height:200px;
}
.flex-item16{
  background-color:blue;
  padding:15px;
  margin:10px;
}
.flex-container_A2{
  display:flex;
  background-color:white;
  align-items:flex-end;
  height:200px;
}
.flex-item17{
  background-color:blue;
  padding:15px;
  margin:10px;
}
.flex-container_A3{
  display:flex;
  background-color:white;
  align-items:stretch;
  height:200px;
}
.flex-item18{
  background-color:blue;
  padding:15px;
  margin:10px;
}
.flex-container_A4{
  display:flex;
  background-color:white;
  align-items:baseline;
  height:200px;
}
.flex-item19{
  background-color:blue;
  padding:15px;
  margin:10px;
}
.flex-container_center{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:white;
  height:400px;
}
.flex-itemc{
  background-color:blue;
  width:50px;
  height:50px;
}
.flex-containerAC{
  display:flex;
  flex-wrap:wrap;
  align-content:space-between;
  height:600px;
  background-color:white;
}
.flex-itemac{
  background-color:blue;
  padding:20px;
  margin:10px;
  height:20px;
}
.flex-containerAC1{
  display:flex;
  flex-wrap:wrap;
  align-content:space-around;
  height:600px;
  background-color:white;
}
.flex-itemac1{
  background-color:blue;
  padding:20px;
  margin:10px;
}
.flex-containerAC2{
display:flex;
flex-wrap:wrap;
align-content:space-evenly;
height:600px;
background-color:white;
}
.flex-itemac2{
background-color:blue;
padding:20px;
margin:10px;
}
.flex-containerAC3{
display:flex;
flex-wrap:wrap;
align-content:center;
height:600px;
background-color:white;
}
.flex-itemac3{
background-color:blue;
padding:20px;
margin:10px;
}
.flex-containerAC4{
display:flex;
flex-wrap:wrap;
align-content:stretch;
height:600px;
background-color:white;
}
.flex-itemac4{
background-color:blue;
padding:20px;
margin:10px;
}
.flex-containerAC5{
display:flex;
flex-wrap:wrap;
align-content:flex-start;
height:600px;
background-color:white;
}
.flex-itemac5{
background-color:blue;
padding:20px;
margin:10px;
}
.flex-containerAC6{
display:flex;
flex-wrap:wrap;
align-content:flex-end;
height:600px;
background-color:white;
}
.flex-itemac6{
background-color:blue;
padding:20px;
margin:10px;
}
