h1{
  text-align:center;
  font-family: "Times New Roman", Times, serif;
}
body{
  background-color:SlateBlue;
  color:white;
  background-image:url("assets/css.png");
  background-size:100px;
  background-repeat:no-repeat;
  background-position:right top;
  background-attachment:fixed;
}
h2{
  margin-bottom:0px;
  margin-left:20px;
  padding:0px;
  color:tomato;
}
ul, li{
  margin:5px;
}
p{
  margin-left:20px;
}
