body{
  background-color:SlateBlue;
  color:white;
  background-image:url("assets/css.png");
  background-size:100px;
  background-repeat:no-repeat;
  background-position:right top;
  background-attachment:fixed;
}
h1, h2, h3{
  font-variant:small-caps;
}

h1{
  text-align:center;
  font-family: "Times New Roman", Times, serif;
}
h2{
  margin-bottom:0px;
  padding:0px;
  color:tomato;
}
ul, li{
  margin:5px;
}
h3{
  margin-top:5px;
  margin-bottom:5px;
  text-decoration:underline;
}
.rela{
  border:1px solid violet;
  padding:10px;
  position:relative;
  top:25px;
  left:25px;
  width:100px;
}
.rel{
  border:1px solid violet;
  padding:10px;
  position:relative;
  top:25px;
  left:25px;
  width:150px;
  height:150px;
}
.absolu{
  border:1px solid violet;
  width:50px;
  position:absolute;
  bottom:5px;
  right:5px;
  padding:10px;
}
