h1{
  text-align:center;
  font-family: "Times New Roman", Times, serif;
}
h2{
  margin-bottom:0px;
  padding:0px;
  color:tomato;
}
ul, li{
  margin:5px;
}
p, span{
  margin-bottom:0px;
}
h3{
  margin-top:5px;
  margin-bottom:5px;
}
span{
  color:blue;
}
#idsel{
  font-style:italic;
}
.clselc{
  color:white;
}
*{
  margin-left:20px;
}
h1, h2, h3{
  font-variant:small-caps;
}
p{
  margin-top:5px;
  margin-bottom:0px;
}
dl{
  margin-top:5px;
}
dt,dd{
  margin:4px;
}
dt{
  font-weight:bold;
}
body{
  background-color:black;
  color:LightGray;
  background-image:url("assets/css.png");
  background-size:100px;
  background-repeat:no-repeat;
  background-position:right top;
  background-attachment:fixed;
}
