h1{
  text-align:center;
  font-family: "Times New Roman", Times, serif;
}
h2{
  margin-bottom:0px;
  padding:0px;
  color:tomato;
}
ul, li{
  margin:5px;
}
p, span{
  margin-bottom:0px;
}
h3{
  margin-top:5px;
  margin-bottom:5px;
}
span{
  color:violet;
}
#idsel{
  font-style:italic;
}
.clselc{
  color:white;
}
*{
  margin-left:20px;
}
h1, h2, h3{
  font-variant:small-caps;
}
p{
  margin-top:5px;
  margin-bottom:0px;
}
dl{
  margin-top:5px;
}
dt,dd{
  margin:4px;
}
dt{
  font-weight:bold;
}
body{
  background-color:SlateBlue;
  color:white;
  background-image:url("assets/css.png");
  background-size:100px;
  background-repeat:no-repeat;
  background-position:right top;
  background-attachment:fixed;
}
.br{
  border:2px solid DodgerBlue;
  width:200px;
  border-radius:10px;
}
dl{
  border:2px solid DodgerBlue;
  margin:15px;
  padding:15px;
  outline:1px dotted white;
  outline-offset:5px;
}
dt{
  font-size:20px;
}
h4{
  color:yellow;
}
.under{
  text-decoration:underline;
  letter-spacing:5px;
}
.line{
  text-decoration:line-through;
  line-height:1.8px;
}
.over{
  text-decoration:overline;
}
.low{
  text-transform:lowercase;
  word-spacing:-5px;
}
.upp{
  text-transform:uppercase;
}
.cap{
  text-transform:captalize;
}
#txtc{
  text-align:center;
}
#txtr{
  text-align:right;
}
#jus{
  text-align::justify;
}
h1{
  text-shadow:2px 2px 5px DarkTurquoise;
}
