h1{
  text-align:center;
  font-family: "Times New Roman", Times, serif;
}
h2{
  margin-bottom:0px;
  padding:0px;
  color:tomato;
}
body{
  background: url("assets/flower.jpg");
}
ul, li{
  margin:5px;
}
p, span{
  margin-bottom:0px;
}
h3{
  margin-top:5px;
  margin-bottom:5px;
  text-decoration:underline;
}
span{
  color:violet;!important
}
#idsel{
  font-style:italic;
}
.clselc{
  color:white;
}
*{
  margin-left:20px;
}
h1, h2, h3{
  font-variant:small-caps;
}
#imp{
  color: #00ff00;
}
p{
  margin-top:5px;
  margin-bottom:0px;
}
dl{
  margin-top:5px;
}
dt,dd{
  margin:4px;
}
dt{
  font-weight:bold;
}
body{
  background-color:SlateBlue;
  color:white;
  background-image:url("assets/css.png");
  background-size:100px;
  background-repeat:no-repeat;
  background-position:right top;
  background-attachment:fixed;
}
.br{
  border:2px solid DodgerBlue;
  width:200px;
  border-radius:10px;
}
dl{
  border:2px solid DodgerBlue;
  margin:15px;
  padding:15px;
  outline:1px dotted white;
  outline-offset:5px;
}
dt{
  font-size:20px;
}
h4{
  color:yellow;
}
.under{
  text-decoration:underline;
  letter-spacing:5px;
}
.line{
  text-decoration:line-through;
  line-height:1.8px;
}
.over{
  text-decoration:overline;
}
.low{
  text-transform:lowercase;
  word-spacing:-5px;
}
.upp{
  text-transform:uppercase;
}
.cap{
  text-transform:captalize;
}
#txtc{
  text-align:center;
}
#txtr{
  text-align:right;
}
#jus{
  text-align::justify;
}
h1{
  text-shadow:2px 2px 5px DarkTurquoise;
}
span{
  margin:5px;
}
a{
  font-size:25px;
}
a:link{
  color:white;
}
a:visited{
  color:green;
  text-decoration:underline;
}
a:hover{
  color:orange;
}
a:active{
  color:yellow;
  text-decoration:none;
}
.square{
  list-style-type:square;
}
.disc{
  list-style-type:circle;
}
.upper{
  list-style-type:upper-roman;
}
.lower{
  list-style-type:lower-alpha;
}
#large{
  width:500px;
  margin:auto;
  padding:20px;
  border:1px solid DodgerBlue;
}
#small{
  max-width:500px;
  margin:auto;
  padding:20px;
  border:1px solid DodgerBlue;
}
#stat{
  border:1px solid DodgerBlue;
  padding:25px;
  width:150px;
}
#rel{
  border:1px solid DodgerBlue;
  padding:25px;
  width:150px;
  position:relative;
  top:20px;
  left:20px;
}
#fix{
  border:1px solid DodgerBlue;
  padding:5px;
  width:150px;
  position:fixed;
  bottom:0px;
  right:0px;
}
#rela{
  border:1px solid DodgerBlue;
  padding-bottom:25px;
  width:250px;
  position:relative;
  left:100px;
  height:150px;
}
#abs{
  border:1px solid DodgerBlue;
  padding:5px;
  width:150px;
  height:100px;
  position:absolute;
  right:5px;
  bottom:5px;
}
#stk{
  border:1px solid DodgerBlue;
  padding:25px;
  position:sticky;
  top:10px;
  width:100px;
}
#orflw{
  width:300px;
  height:200px;
  overflow:scroll;

}
#imgsty{
  max-width:25%;
  float:right;
}
#a, #b, #c{
  float:left;
  padding:10px;
}
#a,  #c{
  color:green;
  background-color:yellow;
}
#b{
  background-color:red;
}
.cls1 img{
  float:left;
  margin:5px;
}
.cls2{
  background-color:white;
  color:green;
  overflow:auto;
  padding:15px;
}
.cls2 img{
  border:1px solid gold;
  float:right;

}
.cls3{
  clear:both;
}
.cls3 img{
  float:left;
  margin:5px;
}
span.clsA{
  display:inline;
  border:1px solid white;
  background-color:gold;
  padding:5px;
  width:100px;
  height:100px;
}
span.clsB{
  display:inline-block;
  border:1px solid white;
  background-color:gold;
  padding:5px;
  width:100px;
  height:100px;
}
span.clsC{
  display:block;
  border:1px solid white;
  background-color:gold;
  padding:5px;
  width:100px;
  height:100px;
}
 div p{
  color:yellow;
}
 div>p{
  text-shadow:2px 2px 5px red;
}
 div+p{
  font-size:25px;
}
 div~p{
   text-transform:capitalize;
}
#parag1{
  background-color:gray;
}
.parag2{
  background-color:green;
}
span{
  background-color:brown !important;
}
#op{
  float:left;
}
div img{
  opacity:0.5;
}
div img:hover{
  opacity:1.0;
}
.container{
  -webkit-mask-image:url(assets/logo.jpg);
  mask-image:url(assets/logo.jpg);
}
