body{
  background-color:SlateBlue;
  color:white;
  background-image:url("assets/css.png");
  background-size:100px;
  background-repeat:no-repeat;
  background-position:right top;
  background-attachment:fixed;
}
h1, h2, h3{
  font-variant:small-caps;
}

h1{
  text-align:center;
  font-family: "Times New Roman", Times, serif;
}
h2{
  margin-bottom:0px;
  padding:0px;
  color:tomato;
}
ul, li{
  margin:5px;
}
h3{
  margin-top:5px;
  margin-bottom:5px;
  text-decoration:underline;
}
.txt, .txt1, .txt2{
  text-shadow:2px 2px;
  font-size:25px;
}
.txt1{
  text-shadow:2px 2px red;
}
.txt2{
  text-shadow:2px 2px 5px red;
}
.box{
  width:100px;
  height:100px;
  background-color:gray;
  border:1px solid #bec2bf;
  text-align:center;
  padding-top:35px;
  box-sizing:border-box;
  box-shadow:5px 5px 3px #bec2bf;
}
.cal{
  width:230px;
  text-align:center;
  padding:2px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header{
  font-size:7em;
  padding:10px;
  background-color:#2796a1;
}
.container{
  padding:10px;
  background-color:white;
  color:#2796a1;
}
#txt{
  white-space:nowrap;
  width:300px;
  border:1px solid cyan;
  overflow:hidden;
  text-overflow:clip;
  padding:2px;
}
#txt1{
  white-space:nowrap;
  border:1px solid cyan;
  width:300px;
  overflow:hidden;
  text-overflow:ellipsis;
}
#txt2{
  white-space:nowrap;
  border:1px solid cyan;
  width:300px;
  overflow:hidden;
  text-overflow:clip;
}
#txt2:hover{
  overflow:visible;
}
#txt3{
  white-space:nowrap;
  border:1px solid cyan;
  width:300px;
  overflow:hidden;
  text-overflow:ellipsis;
}
#txt3:hover{
  overflow:visible;
}
.wrd{
  width:200px;
  border:1px solid cyan;
  word-wrap:break-word;
}
