body{
  background-color:SlateBlue;
  color:white;
  background-image:url("assets/css.png");
  background-size:100px;
  background-repeat:no-repeat;
  background-position:right top;
  background-attachment:fixed;
}
h1, h2, h3{
  font-variant:small-caps;
}

h1{
  text-align:center;
  font-family: "Times New Roman", Times, serif;
}
h2{
  margin-bottom:0px;
  padding:0px;
  color:tomato;
}
ul, li{
  margin:5px;
}
h3{
  margin-top:5px;
  margin-bottom:5px;
  text-decoration:underline;
}
.trans, .trans1, .rota, .rota1, .sca, .sca1, .scax, .scax1, .scay, .scay1, .ske, .ske1, .skex, .skex1, .skey, .skey1{
  width:200px;
  border:1px solid green;
  background-color:white;
  color:green;
  padding:25px;
  box-sizing:border-box;
  text-align:center;
}
.trans1{
  transform:translate(50px, 30px);
}
.rota1{
  transform:rotate(20deg);
}
.sca1{
  transform:scale(0.5,1);
  margin-left:5px;
}
.scax1{
  transform:scaleX(2);
}
.scay1{
  transform:scaleY(-0.5);
}
.ske1{
  transform:skew(20deg, 10deg);
}
.skex1{
  transform:skewX(10deg);
}
.skey1{
  transform:skewY(10deg);
}
.rotate1, .rotate2, .rotate3{
  width:150px;
  border:1px solid green;
  background-color:white;
  padding:25px;
  box-sizing:border-box;
  color:green;
  text-align:center;
}
.rotate1:hover{
  transform:rotateX(180deg);
}
.rotate2:hover{
  transform:rotateY(150deg);
}
.rotate3:hover{
  transform:rotateZ(90deg);
}

.rot{
  width:200px;
  height:100px;
  border:5px solid green;
  margin:300px;
  background:white;
  color:black;
  transform:translateX(50px);
  transition:transform 1s;
  transform-origin:left top;
}
.rot:hover{
  transform:rotate(180deg);


}
