body{
  background-color:SlateBlue;
  color:white;
  background-image:url("assets/css.png");
  background-size:100px;
  background-repeat:no-repeat;
  background-position:right top;
  background-attachment:fixed;
}
h1, h2, h3{
  font-variant:small-caps;
}

h1{
  text-align:center;
  font-family: "Times New Roman", Times, serif;
}
h2{
  margin-bottom:0px;
  padding:0px;
  color:tomato;
}
ul, li{
  margin:5px;
}
h3{
  margin-top:5px;
  margin-bottom:5px;
  text-decoration:underline;
}
.trans1, .trans2, .trans3, .trans4{
  width:120px;
  padding:20px;
  box-sizing:border-box;
  text-align:center;
  border:1px solid green;
  background-color:red;
  transition:width 2s, height 2s;
}
.trans1:hover{
  width:200px;
}
.trans2:hover{
  width:200px;
  height:120px;
}
.trans3{
  transition-delay:3s;
}
.trans3:hover{
  width:200px;
}
.trans4:hover{
  width:200px;
  transition-duration:5s;
}
dt{
  font-weight:bold;
  font-size:17px;
  text-decoration:underline;
}
.ttf1, .ttf2, .ttf3, .ttf4, .ttf5, .ttf6{
  width:150px;
  border:1px solid red;
  background-color:green;
  transition:width 2s, height 2s;
  padding:10px;
  box-sizing:border-box;
  text-align:center;
}
.ttf1:hover{
  width:250px;
  transition-timing-function:ease;
}
.ttf2:hover{
  width:250px;
  transition-timing-function:linear;
}
.ttf3:hover{
  width:250px;
  transition-timing-function:ease-in;
}
.ttf4:hover{
  width:250px;
  transition-timing-function:ease-out;
}
.ttf5:hover{
  width:250px;
  transition-timing-function:ease-in-out;
}
.ttf6:hover{
  width:250px;
  transition-timing-function:cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.tt{
  width:200px;
  height:100px;
  padding-top:40px;
  box-sizing:border-box;
  text-align:center;
  border:1px solid red;
  background-color:yellow;
  transition:width 2s, height 2s, transform 2s;
  color:red;
}
.tt:hover{
  width:300px;
  height:150px;
  transform:rotate(270deg);

}
